<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/alterarUserMain.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div data-menu="menu">
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <main class="mainContent">
        <section>
            <form action="" class="login">
                <h3>Alterar Direção</h3>
                <label for="name" id="userName">
                    Nome <input id="name" type="text" name="userName" placeholder="Seu nome..." >
                </label>
                <label for="cpf" id="cpfUser">
                    CPF <input id="cpf" type="text" name="cpfUser" placeholder="Seu CPF..." >
                </label>
                <label for="data" id="dataNasc">
                   Data de nascimento <input id="data" type="date" name="dataNasc" >
                </label>
                <label for="email" id="userEmail">
                    E-mail <input id="email" type="text" name="userEmail" placeholder="Seu E-mail..." >
                </label>
                <div class="passWordInputs" id="passwordsDiv">
                    <label for="oldPassW" id="userOldPassw">
                        Senha antiga
                        <input id="oldPassW" name="userOldPassw" placeholder="Senha antiga" type="text">
                    </label>
                    <label for="newPassW" id="newPassUser">
                        Senha nova 
                        <input id="newPassW" name="newPassUser" placeholder="Senha nova" type="text">
                    </label>
                    <label for="confirmPass" id="userConfirmPassW">
                        Confirmar senha
                        <input id="confirmPass" name="userConfirmPassW" placeholder="Confirmar senha" type="text">
                    </label>
                </div>
                <div class="passWordsButtons">
                    <button id="alterarPass">Alterar Senha</button>
                    <button id="alterarConta" type="submit">Alterar</button>
                </div>
            </form>
        </section>
    </main>
    <script src="../js/profileIconEvent.js"></script>
    <script src="../js/alterarDirecao.js"></script>
</body>
</html>