<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/alterarUserMain.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div data-menu="menu">
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <aside id="allPageLinks">
        <ul>
            <Span>Pg - Links</Span>
            <li>
                <a href="index.html">
                    Index
                </a>
            </li>
            <li>
                <a href="register.html">
                    Registrar
                </a>
            </li>
            <li>
                <a href="alterarDisciplina.html">
                    Alterar Disciplina
                </a>
            </li>
            <li>
                <a href="alterarTurma.html">
                    Alterar Turma
                </a>
            </li>
            <li>
                <a href="alterarDirecao.html">
                    Alterar Direção
                </a>
            </li>
            <li>
                <a href="cadastrarAluno.html">
                    Cadastrar Aluno
                </a>
            </li>
            <li>
                <a href="cadastrarDirecao.html">
                    Cadastrar Direção
                </a>
            </li>
            <li>
                <a href="criarDisciplina.html">
                    Criar Disciplina
                </a>
            </li>
            <li>
                <a href="criarTurma.html">
                    Criar Turma
                </a>
            </li>
            <li>
                <a href="listagemDeAlunos.html">
                    Listagem Alunos
                </a>
            </li>
            <li>
                <a href="listagemDeDirecao.html">
                    Listagem Direção
                </a>
            </li>
            <li>
                <a href="listagemDeDisciplina.html">
                    Listagem Disciplina
                </a>
            </li>
            <li>
                <a href="telaInicialDirecao.html">
                    Tela inicial
                </a>
            </li>
        </ul>
    </aside>
    <main class="mainContent">
        <section>
            <form action="" class="form">
                <h3>Alterar Direção</h3>
                <label for="username" id="name">
                    Nome <input id="username" type="text" name="name" placeholder="Seu nome..." >
                </label>
                <label for="cpfInput" id="cpfUser">
                    CPF <input  maxlength="11"  id="cpfInput" type="text" name="cpfUser" placeholder="Seu CPF..." >
                </label>
                <div class="passWordsButtons">
                    <button id="capture" type="submit">Alterar</button>
                </div>
            </form>
        </section>
    </main>
    <aside class="asideInfos">
        <button class="close">❌</button>
        <h4 id="errorTitle">Log</h4>
        <p id="errors"></p>
    </aside>
    <script src="../js/profileIconEvent.js"></script>
    <script type="module" src="../js/alterarDirecao.js"></script>
</body>
</html>