<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div data-menu="menu">
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <aside id="allPageLinks">
        <ul>
            <Span>Pg - Links</Span>
            <li>
                <a href="index.html">
                    Index
                </a>
            </li>
            <li>
                <a href="register.html">
                    Registrar
                </a>
            </li>
            <li>
                <a href="alterarDisciplina.html">
                    Alterar Disciplina
                </a>
            </li>
            <li>
                <a href="alterarTurma.html">
                    Alterar Turma
                </a>
            </li>
            <li>
                <a href="alterarDirecao.html">
                    Alterar Direção
                </a>
            </li>
            <li>
                <a href="cadastrarAluno.html">
                    Cadastrar Aluno
                </a>
            </li>
            <li>
                <a href="cadastrarDirecao.html">
                    Cadastrar Direção
                </a>
            </li>
            <li>
                <a href="criarDisciplina.html">
                    Criar Disciplina
                </a>
            </li>
            <li>
                <a href="criarTurma.html">
                    Criar Turma
                </a>
            </li>
            <li>
                <a href="listagemDeAlunos.html">
                    Listagem Alunos
                </a>
            </li>
            <li>
                <a href="listagemDeDirecao.html">
                    Listagem Direção
                </a>
            </li>
            <li>
                <a href="listagemDeDisciplina.html">
                    Listagem Disciplina
                </a>
            </li>
            <li>
                <a href="telaInicialDirecao.html">
                    Tela inicial
                </a>
            </li>
        </ul>
    </aside>
    <main>
        <section class="disciContent">
            <form  class="form">
                <h3>Cadastrar Aluno</h3>
                <label for="username" id="aluno">
                    Nome da Aluno <input placeholder="Nome do Aluno" name="Aluno" type="text" id="username">
                 <p data-js="error"></p>
                </label>
                <label for="cpfInput" id="alunoCPF">
                    CPF <input maxlength="11" placeholder="CPF do aluno..." name="alunoCPF" type="text" id="cpfInput">
                 <p data-js="error"></p>
                </label>
                <label for="emailInput" id="emailDirecao">
                    E-mail <input type="text" id="emailInput" name="emailDirecao" placeholder="E-mail...">
                 <p data-js="error"></p>
                </label>
                <label for="datNascimento" id="dataNascimento">
                    Data de nascimento <input name="dataNascimento" type="date" id="datNascimento">
                 <p data-js="error"></p>
                </label>
                <div class="gerarSenha">
                    <p></p>
                    <button>
                        Gerar Senha
                    </button>
                </div>
                <button type="submit" id="capture">Criar Aluno</button>
            </form>
        </section>
    </main>
    <aside class="asideInfos">
        <button class="close">❌</button>
        <h4>Log</h4>
        <p id="errors"></p>
    </aside>
    <script  type="module" src="../js//allForms.js"></script>
    <script src="../js/profileIconEvent.js"></script>
</body>
</html>