<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css"><!-- "/css/inicialHeader.css" -->
    <link rel="stylesheet" href="../css/global.css"> <!-- "/css/global.css" -->
    <link rel="stylesheet" href="../css/form.css"> <!-- "/css/form.css" -->
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div data-menu="menu">
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <aside id="allPageLinks">
        <ul>
            <Span>Pg - Links</Span>
            <li>
                <a href="index.html">
                    Index
                </a>
            </li>
            <li>
                <a href="alterarDisciplina.html">
                    Alterar Discplina
                </a>
            </li>
            <li>
                <a href="alterarTurma.html">
                    Alterar Turma
                </a>
            </li>
            <li>
                <a href="alterarDirecao.html">
                    Alterar Direção
                </a>
            </li>
            <li>
                <a href="cadastrarAluno.html">
                    Cadastrar Aluno
                </a>
            </li>
            <li>
                <a href="cadastrarDirecao.html">
                    Cadastrar Direção
                </a>
            </li>
            <li>
                <a href="criarDisciplina.html">
                    Criar Disciplina
                </a>
            </li>
            <li>
                <a href="criarTurma.html">
                    Criar Turma
                </a>
            </li>
            <li>
                <a href="listagemDeAlunos.html">
                    Listagem Alunos
                </a>
            </li>
            <li>
                <a href="listagemDeDirecao.html">
                    Listagem Direção
                </a>
            </li>
            <li>
                <a href="listagemDeDisciplina.html">
                    Listagem Disciplina
                </a>
            </li>
            <li>
                <a href="telaInicialDirecao.html">
                    Tela inicial
                </a>
            </li>
        </ul>
    </aside>
    <main>
        <section class="disciContent">
            <form autocomplete="off" class="form">
                <h3>Cadastrar Direção</h3>
                <label data-js="labels" for="username" id="direcao">
                    Nome da direção <input placeholder="Nome da direção" name="direção" type="text" id="username">
                    <p data-js="error"></p>
                </label>
                <label data-js="labels" for="cpfInput" id="direcaocpf">
                    CPF <input placeholder="CPF" name="direcaocpf" type="text" id="cpfInput">
                    <p data-js="error"></p>
                </label>
                <label data-js="labels" for="emailInput" id="emailDirecao">
                    E-mail <input type="text" id="emailInput" name="emailDirecao" placeholder="E-mail...">
                    <p data-js="error"></p>
                </label>
                <label data-js="labels" for="senhaInput" id="semhaDirecao">
                    Senha <input type="text" id="senhaInput" name="semhaDirecao" placeholder="Senha...">
                    <p data-js="error"></p>
                </label>
                <label data-js="labels" for="confirmSenha" id="confirSemhaDirecao">
                    Confirmar Senha <input type="text" id="confirmSenha" name="confirSemhaDirecao" placeholder="Confirmar Senha...">
                    <p data-js="error"></p>
                </label>
                <button type="submit" id="capture">Criar direção</button>
            </form>
        </section>
    </main>
    
    <script type="module" src="../js/allForms.js"></script>
    <script src="../js/profileIconEvent.js"></script>
</body>
</html>