<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/tabelaPrincipal.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div data-menu="menu">
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <aside id="allPageLinks">
        <ul>
            <Span>Pg - Links</Span>
            <li>
                <a href="index.html">
                    Index
                </a>
            </li>
            <li>
                <a href="register.html">
                    Registrar
                </a>
            </li>
            <li>
                <a href="alterarDisciplina.html">
                    Alterar Disciplina
                </a>
            </li>
            <li>
                <a href="alterarTurma.html">
                    Alterar Turma
                </a>
            </li>
            <li>
                <a href="alterarDirecao.html">
                    Alterar Direção
                </a>
            </li>
            <li>
                <a href="cadastrarAluno.html">
                    Cadastrar Aluno
                </a>
            </li>
            <li>
                <a href="cadastrarDirecao.html">
                    Cadastrar Direção
                </a>
            </li>
            <li>
                <a href="criarDisciplina.html">
                    Criar Disciplina
                </a>
            </li>
            <li>
                <a href="criarTurma.html">
                    Criar Turma
                </a>
            </li>
            <li>
                <a href="listagemDeAlunos.html">
                    Listagem Alunos
                </a>
            </li>
            <li>
                <a href="listagemDeDirecao.html">
                    Listagem Direção
                </a>
            </li>
            <li>
                <a href="listagemDeDisciplina.html">
                    Listagem Disciplina
                </a>
            </li>
            <li>
                <a href="telaInicialDirecao.html">
                    Tela inicial
                </a>
            </li>
        </ul>
    </aside>
    <main class="mainContent">
        <section>
            <div class="mainTitle">
                <h2>Turma</h2>
                <img src="../imgs/addIcon.png" alt="sumIcon">
            </div>
            <div class="divSearch">
                <label for="nomeTurma">
                    Digite o nome: <input type="text" placeholder="Text..." id="nomeTurma">
                </label>
                <button>Pesquisar</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ano</th>
                        <th>Data de criação</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NOME</td>
                        <td>ANO</td>
                        <td>DATA</td>
                        <td>
                            <button id="openDocente" class="btn-ver">Ver Docente</button>
                            <button id="openAlunos" class="btn-ver">Ver Alunos</button>
                            <button class="btn-alterar">Alterar</button>
                            <button class="btn-excluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>NOME</td>
                        <td>ANO</td>
                        <td>DATA</td>
                        <td>
                            <button id="openDocente" class="btn-ver">Ver Docente</button>
                            <button id="openAlunos" class="btn-ver">Ver Alunos</button>
                            <button class="btn-alterar">Alterar</button>
                            <button class="btn-excluir">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <article class="jsTables" id="tableDocentes">
                <h3>Docentes</h3>
                <div>
                    <p>TURMA X - Y ANO</p>
                    <ul class="jsTablesUl">
                        <li>Matemática/ Arnaldo</li>
                        <li>Português/ Liedro</li>
                        <li>Física/ Athos</li>
                        <li>Inglês/ Isaac</li>
                        <li>Espanhol/ Louis</li>
                        <li>Artes/ Tega</li>
                        <li>História/ Hernesto</li>
                    </ul>
                </div>
                <button id="exitTableDocente">Sair</button>
            </article>
            <article class="jsTables" id="tableAlunos">

                <!-- 2 TABELA -->

                <h3>Alunos matriculados</h3>
                <div>
                    <p>TURMA X - Y ANO</p>
                    <table class="jsTablestable">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data de nascimento</th>
                                <th>CPF</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody id="dataALUNOS">
                            
                            <!-- <tr>
                                <td>NOME</td>
                                <td>CPF</td>
                                <td>DATA</td>
                                <td>
                                    <button class="btn-alterarJs">Alterar</button>
                                    <button class="btn-excluirJs">Excluir</button>
                                </td>
                            </tr>
                            <tr>
                                <td>NOME</td>
                                <td>CPF</td>
                                <td>DATA</td>
                                <td>
                                    <button class="btn-alterarJs">Alterar</button>
                                    <button class="btn-excluirJs">Excluir</button>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <button id="exitTableAluno">Sair</button>
            </article>
        </section>
    </main>
    <!-- <aside class="asideInfos">
        <button class="close">❌</button>
        <h4>Log</h4>
        <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
    </aside> -->
    <script src="../js/floatingTables.js"></script>
    <script src="../js/profileIconEvent.js"></script>
</body>
</html>