<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/tabelaPrincipal.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div data-menu="menu">
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <aside id="allPageLinks">
        <ul>
            <Span>Pg - Links</Span>
            <li>
                <a href="index.html">
                    Index
                </a>
            </li>
            <li>
                <a href="alterarDisciplina.html">
                    Alterar Discplina
                </a>
            </li>
            <li>
                <a href="alterarTurma.html">
                    Alterar Turma
                </a>
            </li>
            <li>
                <a href="alterarUser.html">
                    Alterar User
                </a>
            </li>
            <li>
                <a href="cadastrarAluno.html">
                    Cadastrar Aluno
                </a>
            </li>
            <li>
                <a href="cadastrarDirecao.html">
                    Cadastrar Direção
                </a>
            </li>
            <li>
                <a href="criarDisciplina.html">
                    Criar Disciplina
                </a>
            </li>
            <li>
                <a href="criarTurma.html">
                    Criar Turma
                </a>
            </li>
            <li>
                <a href="listagemDeAlunos.html">
                    Listagem Alunos
                </a>
            </li>
            <li>
                <a href="listagemDeDirecao.html">
                    Listagem Direção
                </a>
            </li>
            <li>
                <a href="listagemDeDisciplina.html">
                    Listagem Disciplina
                </a>
            </li>
        </ul>
    </aside>
    <main class="mainContent">
        <section>
            <div class="mainTitle">
                <h2>Disciplinas  </h2>
                <img src="../imgs/addIcon.png" alt="sumIcon">
            </div>
            <div class="divSearch">
                <label for="">
                    Digite o nome: <input type="text" placeholder="Text...">
                </label>
                <button>Pesquisar</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Disciplinas</th>
                        <th>Data de criação</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NOME</td>
                        <td>DATA</td>
                        <td>
                            <button class="btn-alterar">Alterar</button>
                            <button class="btn-excluir">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td>NOME</td>
                        <td>DATA</td>
                        <td>
                            <button class="btn-alterar">Alterar</button>
                            <button class="btn-excluir">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="../js/profileIconEvent.js"></script>
</body>
</html>