<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/inicialMain.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div>
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <main class="mainContent">
        <section>
            <div class="enterOptions">
                <a href="">Direção</a>
            </div>
            <div class="enterOptions">
                <a href="">Docente</a>
            </div>
            <div class="enterOptions">
                <a href="">Aluno(a)</a>
            </div>
            <div class="enterOptions">
                <a href="">Disciplina</a>
            </div>
            <div class="enterOptions">
                <a href="">Turma</a>
            </div>
        </section>
    </main>
    <script src="../js/profileIconEvent.js"></script>
</body>
</html>