<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Station</title>
    <link rel="stylesheet" href="../css/inicialHeader.css">
    <link rel="stylesheet" href="../css/inicialMain.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <header class="mainHeader">
        <h2>Edu Station</h2>
        <div>
            <h1>Direção Workship</h1>
            <img class="img" src="../imgs/perfilIcon.png" alt="ícone de perfil" id="profileIcon">
        </div>
    </header>
    <aside id="allPageLinks">
        <ul>
            <Span>Pg - Links</Span>
            <li>
                <a href="index.html">
                    Index
                </a>
            </li>
            <li>
                <a href="alterarDisciplina.html">
                    Alterar Discplina
                </a>
            </li>
            <li>
                <a href="alterarTurma.html">
                    Alterar Turma
                </a>
            </li>
            <li>
                <a href="alterarUser.html">
                    Alterar Direção
                </a>
            </li>
            <li>
                <a href="cadastrarAluno.html">
                    Cadastrar Aluno
                </a>
            </li>
            <li>
                <a href="cadastrarDirecao.html">
                    Cadastrar Direção
                </a>
            </li>
            <li>
                <a href="criarDisciplina.html">
                    Criar Disciplina
                </a>
            </li>
            <li>
                <a href="criarTurma.html">
                    Criar Turma
                </a>
            </li>
            <li>
                <a href="listagemDeAlunos.html">
                    Listagem Alunos
                </a>
            </li>
            <li>
                <a href="listagemDeDirecao.html">
                    Listagem Direção
                </a>
            </li>
            <li>
                <a href="listagemDeDisciplina.html">
                    Listagem Disciplina
                </a>
            </li>
            <li>
                <a href="telaInicialDirecao.html">
                    Tela inicial
                </a>
            </li>
        </ul>
    </aside>
    <main class="mainContent">
        <section>
            <div class="enterOptions">
                <a href="cadastrarDirecao.html">Direção</a>
            </div>
            <div class="enterOptions">
                <a href="cadastrarDocente.html">Docente</a>
            </div>
            <div class="enterOptions">
                <a href="cadastrarAluno.html">Aluno(a)</a>
            </div>
            <div class="enterOptions">
                <a href="criarDisciplina.html">Disciplina</a>
            </div>
            <div class="enterOptions">
                <a href="criarTurma.html">Turma</a>
            </div>
        </section>
    </main>
    <script src="../js/profileIconEvent.js"></script>
</body>
</html>