.mainContent section {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 4em;
  background-color: rgb(83, 83, 83);
  box-shadow: 8px 8px 1px black;
  border: var(--borderColors) 4px solid;
  border-radius: 18px;
  padding: 28px;
  width: 100%;
  max-width: 28em;
  min-width: 19em;
  position: relative;
  h3 {
    font-size: 1.8rem;
  }
  label {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.1em;
  }
  input {
    background-color: var(--backgroundInput);
    outline: none;
    padding: 12px;
    border-radius: 12px;
    color: var(--linksColors);
    border: solid 2px white;
    box-shadow: 0px 4px 1px black;
    transition: 400ms ease-in-out;
  }
  input::placeholder {
    color: rgb(161, 158, 158);
    opacity: 0.7;
  }
}

.login label:nth-child(4) input {
  font-size: 1.1em;
  font-weight: bolder;
  letter-spacing: 2px;
  color: var(--texts);
  background-color: rgb(99, 99, 99);
}

.login input:hover {
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

.login input:focus {
  background-color: rgb(255, 245, 245);
  color: var(--texts);
}

.login h3 {
  background-color: rgb(83, 83, 83);
  padding: 0px 4px 0px;
  position: absolute;
  top: -1.8em;
  left: 1em;
}

.login div {
  width: 100%;
  justify-content: space-around;
}

.passWordsButtons {
  display: flex;
}

.login button {
  color: var(--linksColors);
  background-color: var(--backgroundButtons);
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 1px var(--borderColors);
  padding: 0.8em;
  max-width: 10em;
  min-width: 8em;
}

.login button:hover {
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.passWordInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
  max-height: 0;
  label {
    width: 80%;
  }
  label:nth-child(3){
    margin: 4px;
  }
}

.passWordInputs.show {
  max-height: 280px;
  display: flex;
  opacity: 1;
}
