.mainHeader {
  display: flex;
  flex-direction: row;
  background-color: rgb(236, 236, 236);
  border-bottom: 4px black solid;
  position: relative;
  margin: -8px;
  h2 {
    margin: 0;
    padding: 8px;
  }
}

.mainHeader div {
  flex-grow: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}

.img {
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 12px;
  height: 4em;
  width: 60px;
  animation: shadow 4s ease-in-out infinite;
}

.img:hover {
  box-shadow: 1px 0px 18px var(--texts);
}
.floatingMenu.showMenu {
  display: none;
}
.floatingMenu {
  z-index: 1;
  position: absolute;
  right: 1em;
  top: 3.5em;
  width: 10em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(65, 65, 65);
  a {
    text-decoration: none;
    color: var(--linksColors);
    font-weight: bolder;
    transition: color 400ms ease-in-out;
  }
  p {
    margin: 0;
    width: 100%;
    border: 1px black solid;
  }
  li {
    list-style: none;
    text-align: start;
    padding: 18px;
    width: 100%;
    position: relative;
  }
}

.floatingMenu li:hover {
  background-color: rgba(119, 119, 119, 0.72);
  border-radius: 4px;
}

@keyframes shadow {
  0% {
    box-shadow: 1px 0px 1px black;
  }
  50% {
    box-shadow: 1px 0px 30px black;
  }
  100% {
    box-shadow: 1px 0px 1px black;
  }
}

@media (max-width: 740px) {
  .mainHeader {
    flex-direction: column;
  }
  .mainHeader div {
    flex-direction: column;
    align-items: start;
    padding: 6px;
    margin-left: 0;
    h1 {
      font-size: 1.6em;
    }
  }
  .img {
    padding: 2px;
  }
  .floatingMenu {
    right: 1.4em;
    top: 5.4em;
  }
}
